* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5em;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    float: left;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.build-fan {
    align-content: flex-end;
    display: grid;
}

header {
    width: 100%;
    background-image: url('images/bg-hero-desktop.svg');
}

#free-btn {
    border-radius: 30px;
    background-color: white;
    width: 200px;
}

#start-btn {
    border-radius: 30px;
    background-color: hsl(322, 100%, 66%);
    width: 300px;
}

img {
    width: inherit;
}

.grow-together,
.community-build {
    margin-top: 150px;
}

/* @media width 990px  */

footer {
    background-color: hsl(192, 100%, 9%);
}

ul {
    list-style-type: none;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
} 

.base_column {
    line-height: 40px;
}

.last {
    text-align: right;
}

.last p {
    vertical-align: right;
}