* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5em;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url('images/bg-intro-desktop.png');
    background-size: contain;
    width: 100%;
}

.left-sided {
    color: hsl(249, 10%, 26%);
    padding-top: 150px;
}

#top-button {
    background-color: hsl(246, 25%, 77%);
}

mark {
    color: hsl(0, 100%, 74%);
    text-decoration: none;
}

@media (max-width: 767.98px) {
    .left-sided {
        padding: 0;
    }
    .header {
        font-size: 30px;
    }
 }